body {
	font-family: 'Montserrat', sans-serif;
	color: #34592E;
	margin: 0;
}

h1,h2{
	text-transform: uppercase;
	font-size:40px;
	letter-spacing: 2px;
}
h2 {
	font-size:24px;
}

header{
	color: white;
	text-align: center;
	background-color:grey;
	background-image:url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding:20px;
}

header img{
	border:5px solid white;
	border-radius: 50%;
}

.bharti_photo{
	width:100px;
	height:auto;
}

section {
	padding:30px;
	width:26%;
	float: left;
}

h3{
	text-transform: uppercase;
	letter-spacing: 2px;
}


.CV {
	color:white;
	background: #4A6F41;
}

a{
	text-decoration: none;
	color:#252F86;
}

a:hover{
	color:white;
	background: #252F86;
}

footer {
	background-color: grey;
	padding:30px;
	text-align: center;
	clear: both;
}

footer ul{
	padding: 0;
}

footer ul li{
	display: inline;
	margin:20px;
}